[2017-02-02 01:19] egeozin opened #19 "Four widgets are already selected on Chicago load"
Business Price, Open Business Index, Instagram Density and Instagram Likes widgets seem to be selected when the Chicago MSA is selected. Only the titles and digits are visible, error is probably bound to html load.

<img width="911" alt="screen shot 2017-02-01 at 8 04 51 pm" src="https://cloud.githubusercontent.com/assets/14356218/22533352/9b69b31a-e8bb-11e6-9fe8-b5302721e4e2.png">

[2017-02-02 18:46] hgunc commented on #19
We just want to see the lighting index so we should get rid of them. Just like LA

[2017-02-03 21:24] egeozin opened #22 "When hover over info icon on the Left Panel datasets, text flickers."

[2017-02-05 17:09] cosmicespresso commented on #22
bf35617

[2017-02-05 17:09] #22 closed

[2017-02-06 15:29] Kallirroi opened #23 "pulled changes to my forked copy - error"
![image](https://cloud.githubusercontent.com/assets/10440556/22653288/efa78f44-ec56-11e6-9451-1ec41577df9b.png)

![image](https://cloud.githubusercontent.com/assets/10440556/22653355/1316e880-ec57-11e6-9251-b3e9f93b6965.png)

[2017-02-06 15:40] cosmicespresso commented on #23
Fixed it https://github.com/Kallirroi/atlas-lighting/commit/ebec8a9403aa78f9a23afe6966666445afbdf45b

[2017-02-06 15:40] #23 closed

[2017-02-06 16:39] #19 closed

[2017-02-06 22:22] Kallirroi opened #29 "d3 bubble chart errors"

[2017-02-06 22:23] Kallirroi opened #30 "CSS prefixing"
http://pleeease.io/play/

[2017-02-07 23:15] cosmicespresso commented on #30
4f3f1e2

[2017-02-07 23:15] #30 closed

[2017-02-08 00:05] Kallirroi opened #33 "home page does not load"
![image](https://cloud.githubusercontent.com/assets/10440556/22717302/4ddb0e4e-ed68-11e6-875d-344baa995f95.png)

unless someone is currently working on this?

[2017-02-08 00:17] egeozin commented on #33
I'm not working on this

[2017-02-08 00:25] #33 closed

[2017-02-08 00:25] #29 closed

[2017-02-08 04:39] egeozin opened #35 "DO NOT PULL + PUSH UNTIL FURTHER NOTICE"

[2017-02-08 04:53] #35 closed

[2017-02-08 15:28] Kallirroi opened #37 "Some CSS fixes"
![image](https://cloud.githubusercontent.com/assets/10440556/22743748/29ff96e4-ede9-11e6-9d93-a7ad4cd14b55.png)

1. Margin-left of charts a big bigger?
2. $100 instead of 100$

![image](https://cloud.githubusercontent.com/assets/10440556/22743796/5224214e-ede9-11e6-9c66-a132742f96bc.png)

3. break the units line in two?

[2017-02-09 04:57] egeozin commented on #37
Fixed

[2017-02-09 04:57] #37 closed

[2017-02-09 18:37] egeozin opened #41 "Instagram density and likes chart can not be brushed"
There is an overlay of Google Street view image.

<img width="760" alt="instagram_density_and_likes" src="https://cloud.githubusercontent.com/assets/14356218/22797607/df9645f0-eecc-11e6-9837-5d629acd4eba.png">

[2017-02-09 19:00] Kallirroi opened #43 "after going through the case study, the map should reset somehow"
to the Chicago dataset

[2017-02-09 19:03] egeozin opened #44 "Instagram Likes needs to be shown in range bins"
<img width="380" alt="instagram_likes" src="https://cloud.githubusercontent.com/assets/14356218/22798556/8893dcaa-eed0-11e6-802a-878f511a6556.png">

[2017-02-09 19:07] egeozin commented on #41
When you zoom or interact with the map, you can edit easily.
Probably related to selectedCharts, or updateCharts function.

[2017-02-09 23:36] egeozin opened #50 "Something wrong with the quantiles."

[2017-02-09 23:52] egeozin opened #51 "Scroll is prevented in some cases"
When on a dc chart a brush is present and if the pointer is on that chart it's not possible to scroll between datasets.

[2017-02-10 00:23] cosmicespresso commented on #50
![image](https://cloud.githubusercontent.com/assets/10440556/22808992/3841f444-eefd-11e6-8eba-8f26e2a5718f.png)
fixed?
If so, close!

[2017-02-10 01:11] egeozin commented on #50
Thanks!

[2017-02-10 01:11] #50 closed

[2017-02-10 01:42] cosmicespresso commented on #51
https://github.com/dc-js/dc.js/issues/427 maybe helpful? will look into it more later

[2017-02-10 01:45] egeozin commented on #51
Saw this, I will look into this later.

[2017-02-10 01:46] Kallirroi opened #53 "Does the "LOW/MEDIUM/HIGH" change on the light index chart?"
![image](https://cloud.githubusercontent.com/assets/10440556/22810802/d6d3f3a4-ef08-11e6-8349-925a93d12113.png)

It is always on "LOW" for me :/

[2017-02-10 03:52] cosmicespresso commented on #44
All of them seem to be zero (?) 🤔

![image](https://cloud.githubusercontent.com/assets/10440556/22813534/65eec90e-ef1a-11e6-9181-d84799802c15.png)

[2017-02-10 04:08] egeozin commented on #53
It will! In a bit.

[2017-02-10 04:10] egeozin commented on #44
There should be some others but compared to zeros, they are small.

[2017-02-10 04:22] cosmicespresso commented on #41
It only happens when I keep on refreshing with this chart open: http://localhost:8080/view/grid.html#LA*ins_likes
When I start from root (http://localhost:8080/view/grid.html#LA) it seems to be fine.

Two possible causes:
1. use of opacity rather than display to toggle visibility
2. the nested conditionals in updateCharts, just like you mention above

[2017-02-10 04:28] cosmicespresso commented on #44
wait - where are we loading this data from? I can't see it in the _grid.csv file.
line 755: `d.insta_like = +d.insta_like ? +d.insta_like : 0;`  just sets them all to zero.

[2017-02-10 04:30] egeozin commented on #44
It's before insta_0

[2017-02-10 04:30] egeozin commented on #44
When I checked the insta_like array, close to the end there are some non-zero values

[2017-02-10 04:41] cosmicespresso commented on #44
well I just realized that LA and San Jose do not have the instagram info ☺️ I was looking at LA.

[2017-02-10 04:45] egeozin commented on #44
Oh! So we can "display:none" it on those cities :D

[2017-02-10 04:48] egeozin commented on #44
I was looking at Chicago, sorry :).

[2017-02-10 04:56] cosmicespresso commented on #44
Ok so the range bins are there but I have trouble with selecting the bar at x=0 - see below:
![image](https://cloud.githubusercontent.com/assets/10440556/22814656/4f407c62-ef23-11e6-9179-5fd49adba0d6.png)
Very bizarre. I have disabled the bar selectivity at the moment.

[2017-02-10 05:02] egeozin commented on #53
My quick fix is to disable the OBI filter from interacting with the light_digits. Let's look at this later @Kallirroi

[2017-02-10 05:02] #53 closed

[2017-02-10 05:03] egeozin commented on #44
Hmm interesting! Can you pull/push your changes?

[2017-02-10 05:09] egeozin opened #54 "Intimate zoom in/zoom out buttons when the datasets bar is collapsed"
<img width="147" alt="screen shot 2017-02-10 at 12 07 36 am copy" src="https://cloud.githubusercontent.com/assets/14356218/22814885/39b3b33a-ef25-11e6-9906-60e201c9662a.png">

[2017-02-10 05:13] cosmicespresso commented on #44
yep just did.

[2017-02-10 05:18] egeozin commented on #44
How about completely ignoring 0's in x-axis, so we start from 100 ?

[2017-02-10 05:21] egeozin commented on #44
Or how about calling this on the NOT renderlet but passing it as a function in group of instaLikes chart:

`var filteredFunctionAmountGroup = {
    all: function () {
        return functionAmountGroup.top(Infinity).filter( function (d) { return d.value !== 0; } );
    }
}`

UPDATE This one doesn't work!

[2017-02-10 05:21] egeozin commented on #44
I haven't tried it.

[2017-02-10 05:22] cosmicespresso commented on #54
haha fixed 07d369b

[2017-02-10 05:22] #54 closed

[2017-02-10 05:47] cosmicespresso commented on #44
![image](https://cloud.githubusercontent.com/assets/10440556/22815594/6696fbdc-ef2a-11e6-87cc-2afeeb4749e3.png)
the problem is that all these bars are separate and not aggregated into one bin..

[2017-02-10 06:40] egeozin opened #57 "What's up with the about.html ?"
<img width="921" alt="screen shot 2017-02-10 at 1 38 52 am" src="https://cloud.githubusercontent.com/assets/14356218/22816762/d69c8404-ef31-11e6-9ff2-f07feef1d1c9.png">

[2017-02-10 14:12] cosmicespresso commented on #57
![image](https://cloud.githubusercontent.com/assets/10440556/22829524/0b7be586-ef71-11e6-8559-c1e3257f40ab.png)
can't reproduce 🤔

your screenshot looks like the CSS was not fully loaded or something

[2017-02-10 14:14] egeozin commented on #57
Can you check the atlas.lighting as well, just to make sure, probably related to cache

[2017-02-10 14:24] cosmicespresso commented on #57
Yeah its broken there. I corrected the path to the CSS file in the About page, lets see (6823ecd)

Here is the grid.html:
`  <link rel="stylesheet" type="text/css" href="../stylesheets/atlas.css"> </style>`
and here is the current about.html
`	<link rel="stylesheet" type="text/css" href="stylesheets/atlas.css"> </style>    `
(before that it was `href="atlas.css">`)

[2017-02-10 14:53] egeozin commented on #57
Ok the problem is I need to run the initial docker command from the repository in the computing engine. Let's see after then.

[2017-02-10 15:06] egeozin commented on #57
Fixed with updating the docker volume in computing engine repo!

[2017-02-10 15:06] #57 closed

[2017-02-10 16:49] egeozin opened #59 "On OBI time filter, after exactly 10 changes on the brush I got this error:"
<img width="757" alt="screen shot 2017-02-10 at 11 46 29 am" src="https://cloud.githubusercontent.com/assets/14356218/22835477/e1aa9296-ef86-11e6-9d4f-f74636102005.png">

[2017-02-10 21:44] Kallirroi opened #60 "(from Thuy's email) - income chart"

[2017-02-10 22:14] egeozin commented on #60
Kalli, I just checked that in atlas.lighting income chart syncs well with map in both ways. Have you checked in your localhost to see if it works? It works in mine.

[2017-02-10 23:17] thuytle commented on #60
hi sorry I meant on the case studies (case 2 - page 2-5) page where I changed the focus range of the chart I couldn't get the map to sync yet so was wondering if either of you have any idea

[2017-02-10 23:49] egeozin commented on #60
I will look into this later today. Will keep you updated.

[2017-02-11 16:26] cosmicespresso commented on #59
hey - after I merged your latest commits the filter does not work at all (it does not influence the map, the light average and the bottom graph does not show anything). Working on it, but might be sth you did in your last two commits?

Update: after resetting to my last commit https://github.com/civic-data-design-lab/atlas-lighting/commit/6823ecd5ce123853e5923c98b8fadc872812b960 the graphs work fi

[2017-02-11 16:52] egeozin commented on #59
It works fine in my local! Don't know what happened, let me check.

[2017-02-11 17:00] egeozin commented on #59
Are you sure? Can you try again, it works fine in mine, until 10 changes on OBI filters.
I will look into your commits.

[2017-02-11 17:04] egeozin commented on #59
I checked my last four commit and I couldn't find anything that can influence your updates and filter.
Only thing that may look different is that I truncated the decimal values from light chart(upon interaction with OBI filter, sometimes that may seem not to be updating, but because sometimes it updates in decimals, we are not seeing that change) .

[2017-02-11 18:02] cosmicespresso commented on #59
d4f12e5 think solved it? Check on your side!

[2017-02-11 18:30] cosmicespresso commented on #44
Check it out now (2239a17) - might need to adjust the y axis

[2017-02-11 18:56] egeozin commented on #44
Wonderful! Have you tried omitting the 0 in the x-axis?

[2017-02-11 19:04] egeozin commented on #44
Hey Kalli, when grouping InsLikes returning values >= 100 and removing the 0 from ordinal scale x works!

<img width="375" alt="screen shot 2017-02-11 at 2 03 05 pm" src="https://cloud.githubusercontent.com/assets/14356218/22856631/f3dfc2a6-f062-11e6-8909-f7b9973bb265.png">

[2017-02-11 19:42] egeozin commented on #59
Looks like it's fixed! Well done Kalli!

[2017-02-11 19:42] #59 closed

[2017-02-11 19:44] Kallirroi opened #63 "CASE STUDIES 1: dropdown x and y axis on bubble chart not visible"
![image](https://cloud.githubusercontent.com/assets/10440556/22856879/a11783b4-f068-11e6-9d52-aa389f672c30.png)

[2017-02-11 19:51] #44 closed

[2017-02-12 05:16] egeozin commented on #41
Added two "display:none" lines for the street view fixed the problem.

[2017-02-12 05:16] #41 closed

[2017-02-12 21:19] Kallirroi opened #64 "HOME button does not work on atlas.lighting"
![image](https://cloud.githubusercontent.com/assets/10440556/22866137/0324af6a-f13f-11e6-83d7-53f0917b6028.png)

Redirects the url to LA instead (but does not trigger route)

[2017-02-12 21:21] cosmicespresso commented on #63
Not harmless
![image](https://cloud.githubusercontent.com/assets/10440556/22866150/51c269b4-f13f-11e6-84a1-49c245381d61.png)

the buttons dont work

[2017-02-12 21:42] egeozin commented on #64
We can get rid of that already. It is a highly non-secure way of routing!

[2017-02-12 21:42] #64 closed

[2017-02-12 23:26] cosmicespresso commented on #63
I think the issue is in the `function drawChart(data,xLabel,yLabel,rLabel){` function of the `front_page_map_2.js` file

[2017-02-13 01:44] egeozin commented on #63
Do you have time to look at this?

[2017-02-13 02:26] cosmicespresso commented on #63
yes I can look into this in a bit - both axis are also missing, correct?

[2017-02-13 02:56] cosmicespresso commented on #63
e6d40d3 fixes errors but dropdown axis are still not there - they should be visible, right?

[2017-02-13 03:31] Kallirroi opened #66 "CASE STUDIES 1+2: error after clicking on "Close Case Studies" button"
![image](https://cloud.githubusercontent.com/assets/10440556/22870149/f28d0c72-f172-11e6-8240-a5455e2d7869.png)

[2017-02-13 03:34] cosmicespresso commented on #66
`grid` is undefined in the `function dataDidLoad(error, grid, chicago_data)` call

[2017-02-13 15:58] egeozin commented on #66
Can you pull latest changes, this has not been solved but I have few updates.

[2017-02-13 16:24] egeozin commented on #66
Case studies part demands at least a day to solve bugs that are both posted here, and the ones that I recently found out.

[2017-02-13 16:26] egeozin commented on #66
Close Case Studies button or the Back to Map button I recently added instead of Next at the last case should return the original datasets configuration.

[2017-02-13 16:28] egeozin opened #67 "CASE STUDY 1: Missing text in steps 2, 3, 4"

[2017-02-13 16:29] egeozin commented on #63
What was the dropdown axis? I can see the y and x?

[2017-02-13 16:30] egeozin commented on #60
Solved this by changing dc.redrawAll() to incomeChart._doRedraw(). I will look into the street_view part later. It should not be a priority.

[2017-02-13 16:31] egeozin commented on #43
Same problem with #66

[2017-02-13 16:31] #43 closed

[2017-02-13 16:40] cosmicespresso commented on #63
There were two dropdowns, one for x axis and one for y axis - you could select a value for each. My guess is that this variable: `var list= ["Land_Area","MAX","Average_Sum_of_Light","Sum_of_Light","Population_in_2000","Population_2014","Population_Change","Density_2000","Density_2014","Land_Area","GMP_2013","Sum_of_Light_Per_Capita"]` defines the available selections.

(taken from `front_page_map_

[2017-02-13 16:40] egeozin opened #68 "CASE STUDY 2: After the initial load > after clicking on case studies > Have to click on Case Studies 2 two times."
In order to go through the Case Study 2: Chicago

[2017-02-13 16:42] egeozin commented on #63
Oh got it! Yep, I don't see them.

[2017-02-13 16:42] egeozin commented on #68
Please pull the latest changes before commit.

[2017-02-13 16:59] cosmicespresso commented on #68
I just had to click 5 times - it must be some event handler that is busy with something else. Clicking on the "close" button (3 times) led to this:
![image](https://cloud.githubusercontent.com/assets/10440556/22893423/a74ce40a-f1e3-11e6-896d-5954f3fb59a8.png)

@egeozin - maybe we should consider not showing this entire tab for the moment?? as you said, it needs at least a day to debug... :/

[2017-02-13 17:00] egeozin commented on #68
Seems to me a good idea!

[2017-02-13 18:45] hgunc commented on #68
Hey guys,
Yes lets pull down case studies tab for now. But this should be top of our urgency list.

[2017-02-13 18:45] hgunc commented on #67
We don't have the text for this yet. Lets pull it down

[2017-02-13 23:58] egeozin opened #69 "Announcement: Functions related to the control of DOM elements have been moved to scripts/control.js"

[2017-02-14 03:16] egeozin opened #70 "What was the reason for initial filtering? Is that because of the OBI chart?"
So the one on the left is the initial map, the one on the right is all cells made visible after business types chart clicking and re-clicking on a type. I'm close to making a mutually filterable non-dc and dc charts mechanism but I only wonder the reason for initial filtering.

![cell_state_change](https://cloud.githubusercontent.com/assets/14356218/22913629/fe7899bc-f239-11e6-8040-ac7efcebea1f.jp

[2017-02-14 05:05] egeozin commented on #51
Fixed with jeffsteinmetz suggestion:

`
var _nullZoom = function () { return null; }
`

[2017-02-14 05:05] #51 closed

[2017-02-14 07:14] egeozin commented on #70
Ignore this. It's because I have changed the timeselector brush to be set between 6 -18

[2017-02-14 07:16] egeozin commented on #70
Nope it's not that.

[2017-02-14 16:24] thuytle commented on #68
it's fixed

[2017-02-14 16:24] thuytle commented on #68
it's fixed

[2017-02-14 16:24] #68 closed

[2017-02-14 16:27] thuytle opened #71 "Street view not working properly"
Street view doesn't show up properly after being dragged into the drop zone

[2017-02-14 16:31] thuytle commented on #60
it still doesn't work even with the incomeChart._doRedraw()

I tried different things but haven't figured it out, let me know if anyone has more insight into this

[2017-02-14 16:35] egeozin commented on #60
Ok I'm looking into this. The promising part about this is that as soon as you start manipulating the brush it shows the quantiles and median values correctly. The likely cause of error is that the doRedraw function is not working properly, I will try to replace it with something else.

[2017-02-14 22:56] cosmicespresso commented on #71
The element exists in the DOM, but doesn't show.

![image](https://cloud.githubusercontent.com/assets/10440556/22953310/996575c2-f2de-11e6-988b-f27df08bca83.png)

(after looking into this a bit) - its a confusion between `opacity` and `display` controlling whether it shows up or not - this previous issue is relevant: https://github.com/civic-data-design-lab/atlas-lighting/issues/41

[2017-02-14 22:58] cosmicespresso commented on #70
Not sure I understand the question - the filtering (in the word cloud) was always a desired functionality, from what I remember. Explain more? :)

[2017-02-14 23:09] egeozin commented on #70
Before it comes to filtering with word cloud, our map is already filtered. Two days ago I changed the filterhour filtering 6 - 18 instead of 0 - 24 but that is not the sole reason for this filtering.

--> The thing is we are already filtering our data somewhere but because in my old word cloud filtering function I make every cell visible, only then I'm able to see like the one on the right.

So I

[2017-02-14 23:14] cosmicespresso commented on #70
Got it. I had the same thoughts when I was building the time filter. I will double check that its not filtering, but another thought (from quickly looking at `filterhour` callbacks) is the call from within the `incomeChart.on('renderlet', function (chart) {.....}` function (line 914).

Why does the income chart renderlet need to call the time filter? 🤔

[2017-02-14 23:20] egeozin commented on #70
Nice question, would you be available tomorrow to meet in person? I have some ideas about integrating  a more central filtering mechanism for OBI and word cloud charts so they don't influence each other. I made a prototype, but it has one strange behavior that I think I have to solve.

[2017-02-14 23:22] egeozin commented on #70
A hangout would suffice as well.

[2017-02-14 23:39] cosmicespresso commented on #71
d4353fe  fixes it (? can you both check?)

[2017-02-14 23:45] cosmicespresso commented on #71
![image](https://cloud.githubusercontent.com/assets/10440556/22954657/bfd46af4-f2e5-11e6-9df9-d30860e6606a.png)

wtf this is absurd - I assume streetview is not supposed to creep up down there right?

[2017-02-15 12:47] hgunc commented on #71
Refer to this document: https://www.dropbox.com/s/obuuvm3oayy5k4x/161207_casestudy.pdf?dl=0

Streetview should be on the page if that's what you are asking. Basically we want to highlight a single cell with high lighting and low income and show it is dense urban neighborhood whereas the next page showing a cell with low lighting high income suburban settlement

[2017-02-15 16:11] cosmicespresso commented on #71
Can't access the link above - but its OK if this is indeed how the study case should look like (?). If so, we can close this issue.

[2017-02-15 16:14] Kallirroi opened #73 "is this normal? no case studies show in the tab"
![image](https://cloud.githubusercontent.com/assets/10440556/22983366/e227e2ae-f36f-11e6-9d9c-350b4c05085a.png)

[2017-02-15 16:32] egeozin commented on #73
Yep, I just brought them down temporarily.

[2017-02-15 16:32] #73 closed

[2017-02-15 20:27] cosmicespresso commented on #63
The problem is the `<select>` tag - when I change it to a `div` it works (of course it needs to be fixed to look like a dropdown).

Did anyone add/remove/change the script tags in the `grid.html`? Its not a browser issue (tested on Safari).

![image](https://cloud.githubusercontent.com/assets/10440556/22993922/d14a5f66-f392-11e6-9b46-08552013c260.png)

[2017-02-15 20:36] cosmicespresso commented on #63
update: the CSS sourcing was wrong. Fixed with  c574de4.
The dropdown menus show but the CSS looks wrong - @thuytle maybe you can look into this?

[2017-02-15 21:37] #70 closed

[2017-02-15 22:27] #71 closed

[2017-02-15 22:55] cosmicespresso commented on #63
693fca8 fixes the CSS issues.

[2017-02-15 22:55] #63 closed

[2017-02-16 02:53] thuytle commented on #66
the close case studies should have been replaced with case study title & the switch to map function is now with the dataset tab (per Hayro's prescriptions)

[2017-02-16 02:53] #66 closed

[2017-02-16 14:32] #69 closed

[2017-02-17 03:55] egeozin opened #78 "All Charts are now mutually filterable, there are some quirks especially on OBI"
But fixable through time. I will post detailed study with pictures in a bit.

[2017-02-17 19:55] thuytle opened #79 "Cities other than Chicago malfuntions?"
<img width="1193" alt="screen shot 2017-02-17 at 2 53 55 pm" src="https://cloud.githubusercontent.com/assets/1759051/23081015/0977b2d2-f521-11e6-9040-115961f42881.png">

[2017-02-17 20:35] egeozin commented on #79
I now see that we have two JSON objects named cityCentroids, one in city_comparisons_data.js and other in front_page_map_2.js. I just assigned a different name to the one on front_page_map_2.js.

[2017-02-17 20:35] #79 closed

[2017-02-18 16:20] #78 closed

[2017-02-18 18:31] cosmicespresso commented on #67
whats the status on this issue guys?

[2017-02-18 22:55] thuytle commented on #67
Still waiting for text from Hayro I think, in the meantime case 1 is hidden

[2017-02-20 16:49] Kallirroi opened #80 "grid map does not hold the OBI timeline selection"
the usual +1 sec additional filtering is occurring again

[2017-02-20 18:34] egeozin commented on #80
Yep, it now happens on OBI timeline filter,(case 1)

also when;
(case 2)a chart is filtered(brushed)  => selected business types filter is released but not the chart brush => 1 sec additional filtering.

I know that now these will be easier to solve after that dirty but functional filtering function called filterCells in grid_map.js. You can check that function to see why it carries that timeline

[2017-02-21 02:42] cosmicespresso commented on #80
I'm a bit lost with the new functions.... :/

In addition, you have commented out `filterhour` but you call it from `timeSelectorReset` and `timeSelectorResetBack`. Do we need the latter functions?

![image](https://cloud.githubusercontent.com/assets/10440556/23148696/44ff2466-f7b5-11e6-9662-961780121dda.png)

[2017-02-21 02:45] egeozin commented on #80
We don't need them, I can try to explain it better tmw morning if you want.

[2017-02-21 04:22] cosmicespresso commented on #80
ok so I have some progress on the primary issue (see screengrab) - this is the `renderlet` of the Light Av chart. The chart is rendered every time, and hence the `else` case is executed on every change of the time filter.

The issue might lie with the `window.newData` object (?)

![image](https://cloud.githubusercontent.com/assets/10440556/23150656/023967f0-f7c3-11e6-8ef8-b48af4c8c533.png)

[2017-02-21 19:05] egeozin opened #81 "Business Diversity Bubble Chart: Bubbles becomes invisible after a flash."
Could that be related with a shared css of busDiv chart and the one in front_map's ?

[2017-02-21 20:47] cosmicespresso commented on #81
I feel that could be similar to other bug we encounter in the OBI. Something is rendering on top of the current selection, like a n+1 render callbacks. Looking into it.

[2017-02-21 20:47] Kallirroi opened #82 "scrollbar for the left side panel"

[2017-02-21 21:50] cosmicespresso commented on #82
There is a scrollbar now:
![image](https://cloud.githubusercontent.com/assets/10440556/23186665/e5bbbba8-f855-11e6-8204-00f622a28411.png)

[2017-02-21 22:31] cosmicespresso commented on #81
**Update**
The reason why it doesn't show is because the `r` variable for the bubbles is equal to `0`. That in turn happens because of the `updateAndDraw` function.
When I comment its contents out entirely like below, the diversity shows fine, and the OBI chart does not have the weird behavior either.
![image](https://cloud.githubusercontent.com/assets/10440556/23187944/ce59edf4-f85a-11e6-9b5b-543

[2017-02-22 00:57] egeozin commented on #81
Ok, but if it happens when ndx is removed and updated why don't we see that kind of change in others as well?

(it was plain busDiv in the first place, then I changed to window.busDiv however the bug persists)

[2017-02-22 03:08] cosmicespresso commented on #81
True point. I'm afraid that I'm a bit lost in all the objects we are now using to control the data - `window.newData`, `data` and `filtered`.  The latter might be introducing a dangerous namespacing issue with the `window.filtered` btw. I will rename it to `filteredData`.

[2017-02-22 03:10] egeozin commented on #81
Could this be our problem: this is the only dimension selector that uses minBDiv and maxBDiv that are computed early, that is not bound to new data.

[code]

Edit: This is not our problem.

[2017-02-22 03:24] egeozin commented on #81
Also: I've updated the updateAndDraw function to adapt window.count to altered data, but problem persists.

[code]

[2017-02-22 04:25] cosmicespresso commented on #80
following the above thoughts
1. The first clause of the `if` statement above gets executed only once, on load. `window.filtered` is otherwise always `false`. Does that sound right?
2. I am 99% sure the problem with the OBI chart is that the `displayCells` is executed right on top of of the interaction with the time slider.

[2017-02-22 04:32] egeozin commented on #80
Yes, and it is also executed when a tag in the business types and instagram topics chart is clicked(selected and deselected),

[code]

[2017-02-23 01:47] egeozin opened #84 "All datasets are now collapsible, except Google Street View."

[2017-02-23 04:27] cosmicespresso commented on #80
I think I fixed it - 224102c (check when you have the time)

[2017-02-23 13:18] #82 closed

[2017-02-23 13:23] egeozin commented on #80
I think it's working, why did you reopened?

[2017-02-23 13:38] egeozin commented on #80
Ah, ok! now if a brush is selected in any row chart and if there is an interaction with business types chart, then it displays all the cells, instead of displaying the first filter

[2017-02-23 22:10] #80 closed

[2017-02-23 22:25] Kallirroi opened #86 "when having clicked on a tag, the OBI average should not show"

[2017-02-23 22:39] Kallirroi opened #87 "Insta likes for LA"

[2017-02-23 22:44] egeozin opened #88 "Prevent Chrome highlight"

[2017-02-23 22:45] egeozin opened #89 "when the busTypes/instaTopics removed from right panel filter is not released"

[2017-02-23 22:46] egeozin opened #90 "Denver InstaTopics overlapping words"

[2017-02-23 23:13] #84 closed

[2017-02-23 23:14] #86 closed

[2017-02-23 23:16] thuytle opened #91 "Business price 'undefined' if choose range higher than 3"
<img width="1430" alt="screen shot 2017-02-23 at 6 15 24 pm" src="https://cloud.githubusercontent.com/assets/1759051/23283484/234cc8fa-f9f4-11e6-9a50-812160755cbe.png">

[2017-02-23 23:17] egeozin opened #92 "Put optional And-Or relationship for busTypes/Instatopics"

[2017-02-23 23:47] Kallirroi opened #93 "Have the info tip show on the right as well"

[2017-02-23 23:52] Kallirroi opened #94 "intro library"
http://introjs.com/

[2017-02-25 04:14] egeozin opened #95 "All cells flash on tag release when brushed"

[2017-02-25 17:35] egeozin opened #96 "Business Opening Hours should change the average lighting calculation"
I will add the lines from the previous filterhour function to make this change the average lighting

[2017-02-25 18:26] egeozin opened #97 "When instagram is removed from right, it goes under wrong category on the left"

[2017-02-25 18:30] egeozin opened #98 "Narrow ranges in the histogram which is due to d3's quantile calculation"
Maybe a more manual selection of quantile lines, as people tend to fit the brushes between quantile lines.

This issue was implied by a workshop participant with the question: "what makes it low, medium or high in the night time intensity chart?"

[2017-02-27 15:43] egeozin opened #99 "SELECTED CELL update: Report card on the right panel."

[2017-02-27 16:55] thuytle opened #100 "selecting cell doesn't update income chart"

[2017-02-27 17:22] thuytle commented on #99
pop up stays on if mouse hover over side bar
<img width="1440" alt="screen shot 2017-02-27 at 12 21 21 pm" src="https://cloud.githubusercontent.com/assets/1759051/23371800/5587cd74-fce7-11e6-82b9-513993a3cc0a.png">

[2017-02-27 17:24] thuytle opened #101 "selecting cell doesn't always update the lighting chart properly"
for example, this should say "high" but say "medium"

<img width="1435" alt="screen shot 2017-02-27 at 12 22 31 pm" src="https://cloud.githubusercontent.com/assets/1759051/23371884/9147f5e6-fce7-11e6-8fd2-82ad34bd00b3.png">

also not sure if we care right now but the address tag still stays on if mouse hover outside of map

[2017-02-27 17:51] egeozin commented on #101
Yes, that's because currently, when a cell is selected we are only updating the average and we are not calculating the median, that's an easy fix, but first we have to make sure whether we want to update right panel or show the info in a pop-up.

[2017-02-27 19:04] egeozin commented on #90
Fixed in #5616bf9

[2017-02-27 19:04] #90 closed

[2017-02-27 19:12] egeozin opened #102 "I'm changing the all_charts css back to previous"
Thuy, why do you change it?

Now all the datasets on the right panel have more limited space.

<img width="365" alt="why" src="https://cloud.githubusercontent.com/assets/14356218/23375526/ae445c8e-fcf6-11e6-8a73-1412a45f794e.png">

Tell me what do you want to do, I will change it accordingly.

[2017-02-27 19:15] hgunc opened #103 "Selecting filters disables case studies"
when you select a filter (business,social media etc.) in dataset panel, case study disappears # @

[2017-02-27 19:16] #102 closed

[2017-02-27 19:17] egeozin opened #104 "Users need to know that the selected datasets on the right are collapsible."
Except streetview.

A UI cue is necessary.

[2017-02-27 20:57] thuytle commented on #102
hi Ege, I changed it because in the case study there are back and next buttons in front so if we don't reduce it the charts will hide behind the buttons but it's not that big of a deal

[2017-02-27 20:58] cosmicespresso commented on #99
Create a report card on the right which shows values when the cell is selected.

- [x] Create second tab

- [x] Add names to both tabs

- [x] jQuery transitions upon click

- [x] When a cell is selected then the color of the tab should turn to blue (or flash to blue)

- [x] Use the metric order from the left hand panel

- [x] Move the Instagram thumbnails to Selected Cell View

- [x] Move the Goog

[2017-02-27 20:58] hgunc commented on #96
Add AM and PM near the hours

[2017-02-27 21:13] hgunc opened #105 "Disable Case Studies tab"

[2017-02-27 21:14] egeozin opened #106 "When filtering income data, cells with 0 values should be treated as no value"

[2017-02-27 21:17] Kallirroi opened #107 "hide the case studies tab from the left"

[2017-02-27 21:36] #107 closed

[2017-02-27 21:38] cosmicespresso commented on #60
From the current discussion with Hayro and Sarah: The case studies will be simplified to a slideshow. Closing this issue.

[2017-02-27 21:38] #60 closed

[2017-02-27 21:38] cosmicespresso commented on #103
From the current discussion with Hayro and Sarah: The case studies will be simplified to a slideshow. Closing this issue.

[2017-02-27 21:38] #103 closed

[2017-02-27 21:40] Kallirroi opened #108 "CASE STUDIES update: Turn into independent page with static images"
Similar to the "About" page. There will be no interactivity, just static images embedded in a slideshow.

Hayro will assist with the text and details.

[2017-02-27 21:41] cosmicespresso commented on #67
From the current discussion with Hayro and Sarah: The case studies will be simplified to a slideshow. Closing this issue.

[2017-02-27 21:41] #67 closed

[2017-02-27 21:44] Kallirroi opened #109 "OBI updates"
- [x] Make sure the weird behavior is not there (flashing)

- [x] The MEDIUM/LOW etc indicator should also change when the value changes

- [x] Add AM and PM near the hours (or some indication of day/night)

[2017-02-27 21:45] #93 closed

[2017-02-27 21:45] cosmicespresso commented on #100
Will be solved by the new "Selected cell report card" approach. Closing.

[2017-02-27 21:45] #100 closed

[2017-02-27 21:46] cosmicespresso commented on #101
Will be solved by the new "Selected cell report card" approach. Closing.

[2017-02-27 21:46] #101 closed

[2017-02-27 23:20] #94 closed

[2017-02-27 23:40] Kallirroi opened #111 "name changes"

[2017-02-27 23:53] Kallirroi opened #112 "Average number of businesses open: hide"

[2017-02-28 03:26] #105 closed

[2017-02-28 05:06] thuytle commented on #108
Why are we making this change? Also I have a review tomorrow so will be a bit tight on time here

[2017-02-28 05:43] #112 closed

[2017-02-28 15:18] hgunc commented on #99
in report card view, we'll have to keep the instagram thumbnails and street view as it is.

Also for business types and instagram content topics, it can be a string of top 3 types or topics.

Example: Health, Retail, Service

And the dataset name could be renamed as Top 3 Businees Types in this Cell

[2017-02-28 18:22] cosmicespresso commented on #99
@egeozin did you move parts of the jQuery controlling the behavior out of the `grid_map.js`? Can't find the parts that control the click and fold events on the left and right panels.

[2017-02-28 18:23] Kallirroi opened #113 "clean up the <script> tags at the bottom of the main .js files"

[2017-02-28 18:29] Kallirroi opened #115 "favicon"

[2017-02-28 18:43] egeozin commented on #99
Yep, I put them under control.js. Sorry, I put a notice here two weeks ago and then closed it.

[2017-03-01 02:01] #88 closed

[2017-03-01 03:02] cosmicespresso commented on #99
Cool, I found them and am almost done with this issue.

**Questions**

1. What is the status of the `topicsData`?

2. Should we entirely move the Google Street view and the Instagram Thumbnails to the "Cell View" tab?

[2017-03-01 03:11] egeozin commented on #99
What do you mean? Do you mean the script running on the linux machine? Or do you mean whether we have it for LA and Chicago? (We are waiting for the merged csv file(with topics) for LA. As for the Chicago, we are waiting for the script to end in the compute engine(that will output aggregate topics), it shows 3 days)

Another question: have you updated the pittsburgh_grid.csv under the data folder

[2017-03-01 03:17] cosmicespresso commented on #99
Oh right, I completely forgot we were still waiting for that stuff to compile. Ok so for the moment I don't show anything for the Instagram topics in the CELL VIEW.

Regarding your question: Yes I changed the instagram likes to the correct naming (I'm pretty sure thats what I did at least).

How about the second question above? (Sorry I just modified my post so you might have missed it). I was thi

[2017-03-01 03:31] egeozin commented on #99
Your response to the second question is great! Let's do that, we do not need to show them in the map view at all.

Another thing: have you noticed the small disconnect in the left border line of the map - view, I will open another thread regarding whether we should make that "drag a dataset to upload" box, but before that it may be due to recent changes in css.

[2017-03-01 03:35] egeozin commented on #99
With your response, we are also circumventing the problem of incoherent google street view api problem(It sometimes shows sometimes not due to connection with google's api ). This way it will not be distracting in the map view tab.

By the way can you try panning in the map? You are selecting the cells don't you? If not, I will continue to wonder why do I always select a cell whenever I pan :)

[2017-03-01 03:40] cosmicespresso commented on #99
1. Panning
Yes the UX is not great - but it gets better once I zoom in a little bit. The way you deal with panning is probably by being careful with the jQuery events, and/or a Mapbox panning property. Not sure we have the time for that...

2. Google street + Instagram thumbnails
Great, I will incorporate them in the CELL VIEW.
Do you think that we should just take them out of the left hand side t

[2017-03-01 03:50] egeozin commented on #99
1. It's no big deal, I may try to enhance it if it becomes intolerable(highly unlikely).

2. Wonderful, let's do that, we can take it back according to feedback.

3. Don't bother, I can look into that, after you finish your css changes.

[2017-03-01 18:38] cosmicespresso commented on #99
Here is the state so far:

![image](https://cloud.githubusercontent.com/assets/10440556/23475009/f3fcc692-fe83-11e6-9379-bfe6d77added.png)

@hgunc what do you think of the design?

Still need to be addressed:

- [ ] Instagram topics data

- [ ] Google street view does not work reliably. It either will work for every cell, or show a black screen for every cell (see below).

@egeozin any ideas about

[2017-03-01 18:43] #96 closed

[2017-03-01 19:29] cosmicespresso commented on #109
![image](https://cloud.githubusercontent.com/assets/10440556/23477259/697b4efa-fe8b-11e6-8f01-7f8457385399.png)

@egeozin IT FINALLY WORKS 💯
(or at least we don't have the flashing thing!)

[2017-03-01 19:32] egeozin commented on #109
SO HAPPY!

[2017-03-01 19:40] egeozin commented on #99
Yep, these two errors you mentioned looks like they are related with Google's external and internal API calls. You make some refreshes and hope for the best, I have tried to fix it but I see similar complains around the web, let me look what to do about it.

In the instagram thumbnails case, those errors are due to the output of callback we are receiving from the Google API. So when a user deletes

[2017-03-01 21:21] egeozin opened #119 "Overflow on Map, that causes a weird gap below the left panel"
Any css changes on the overflow property of a div? Maybe related to height:calc(100% - 100) ?

[2017-03-01 21:35] egeozin commented on #99
Now, I cannot see instagram thumbnails for LA, have you changed anything?

[2017-03-01 22:39] cosmicespresso commented on #99
No I haven't, I also don't see them. Can you check something - I told Dennis but he not sure if he updated anything: I have noticed that the formats of `LA.csv` and `LA_grid.csv` seem to not look like the rest of the `[city].csv` and `[city]_grid.csv` files. In fact they seem to be mixed up (the LA.csv looks like the Chicago_grid.csv for example). Maybe this has also bled into how the Firebase dat

[2017-03-01 23:21] egeozin commented on #99
Yeah it shows up, but no images inside, it's probably related to the firebase. I just checked the firebase and I cannot access the database except a loading spinner(Hmm, site related problems I guess). So, yesterday, I changed the api query for other cities, as the database containing links to images for those cities have a different format than LA's. However, I triple-checked that I was able to s

[2017-03-02 00:53] egeozin commented on #87
We don't have the insta_like data field for LA_grid.csv file, that's why.

[2017-03-02 01:21] cosmicespresso commented on #87
Is Dennis taking care of this?

[2017-03-02 01:22] cosmicespresso commented on #99
I see. Sounds like there is no immediate solution..how about we open a separate bug issue for the Insta thumbnails and Google street view and close this one?

[2017-03-02 01:27] cosmicespresso commented on #119
Fixed: cc14046

[2017-03-02 01:27] #119 closed

[2017-03-02 01:30] egeozin opened #121 "LA instagram thumbnails api call returns late and returns with a new structure"

[2017-03-02 01:30] #99 closed

[2017-03-02 01:32] egeozin opened #122 "[Unreliable] Google Street View black screen"
Personally, I saw them worked %30 of the time.

I think it's related to API call, but I'm not sure whether our script is problem.

[2017-03-02 01:33] egeozin commented on #87
I just sent an email

[2017-03-02 01:43] egeozin commented on #81
Good news:

Business diversity will live! (Although it has to use bars from now on.)

<img width="365" alt="i_cried" src="https://cloud.githubusercontent.com/assets/14356218/23489303/7e211586-febf-11e6-8ae0-a2bfbb116cb2.png">

I will shortly update the website.

[2017-03-02 01:44] #81 closed

[2017-03-02 04:53] Kallirroi opened #123 "Light average chart values don't agree with x axis (?)"
![image](https://cloud.githubusercontent.com/assets/10440556/23493490/28e40158-feda-11e6-82b2-c45b0642b65a.png)

Is the median calculation correct? The brush is around 155 but the value is 74...

[2017-03-02 05:00] egeozin commented on #123
I'm not able to replicate that. Can you be specify a little more about how did you reach that, have some other chart changed the average before you interacted with brush? does the problem persists when you make hard refresh?

[2017-03-02 05:00] #97 closed

[2017-03-02 05:09] #111 closed

[2017-03-02 05:11] egeozin commented on #104
@Kallirroi , can you make a suggestion? I can then implement it.

[2017-03-02 05:35] #123 closed

[2017-03-02 06:36] egeozin commented on #89
Fixed: cf45792

[2017-03-02 06:36] #89 closed

[2017-03-02 16:53] cosmicespresso commented on #91
![image](https://cloud.githubusercontent.com/assets/10440556/23517608/db98991c-ff3e-11e6-97ee-a44ae9a03d70.png)

Can't replicate - close if bug is not there.

[2017-03-02 16:54] Kallirroi opened #124 "Width of right panel FIX"
![image](https://cloud.githubusercontent.com/assets/10440556/23517667/08d07e90-ff3f-11e6-96ce-5abda505d7cb.png)

[2017-03-02 17:04] Kallirroi commented on #109
Almost done.
Last bug:

- [ ] When OBI shows, the light average chart indicated value lags one update.

[2017-03-02 17:19] Kallirroi commented on #124
73e5db8

[2017-03-02 17:19] #124 closed

[2017-03-02 17:21] cosmicespresso commented on #95
Not sure if this is still an issue?

[2017-03-02 17:27] egeozin commented on #95
Yep! But I'm on this. This will be solved.

So this happens when you have a brush and a tag selected either in busTypes/InstaTopics and when you release the tag.

I will alter the filterCells function, so when a brush is present there will be no cell display loops in between.

[2017-03-02 17:37] cosmicespresso commented on #115
f7859a0

[2017-03-02 17:47] cosmicespresso commented on #104
I added this `.chart-title-collapsible:hover` to the CSS and the graphs in `grid.html` except the Light Average, for now its a simple `font-size` change but we can customize it a bit better.

[2017-03-02 17:48] #91 closed

[2017-03-02 17:49] egeozin commented on #104
Thanks @Kallirroi

[2017-03-02 17:51] egeozin commented on #122
@Kallirroi, could you also try this: if the street view is not showing, can you open the inspector and select a cell, and if you still do not see it, can you close the inspector and select a cell again to check if you can then see the panorama?

[2017-03-02 17:52] cosmicespresso commented on #106
Not sure I see something wrong with Income Chart?
I added this line: `var iGroup = incomeDimension.group().reduceSum(function(d){return d.income>0;});` but it didn't change the graph.

[2017-03-02 17:52] cosmicespresso commented on #122
Sometimes this has worked, but not consistently. Nothing has worked consistently! :p

[2017-03-02 17:54] egeozin commented on #106
Yeah, I think what Dennis meant is instead of showing 0 on the left we have to replace it with a text saying "no value" or "no data".

[2017-03-02 17:55] egeozin commented on #122
Oh dear! The only adverb we can associate with street view is sometimes.

[2017-03-02 17:55] cosmicespresso commented on #106
thats not possible and also not correct I think...

[2017-03-02 17:56] egeozin commented on #106
Let me ask him again!

[2017-03-02 17:59] egeozin commented on #122
Also, have you been able to see any street view on LA?

[2017-03-02 18:04] cosmicespresso commented on #122
Nope. I also checked Safari. Same situation.

UPDATE: Actually I do see some street view in LA:
![image](https://cloud.githubusercontent.com/assets/10440556/23520388/d3429254-ff48-11e6-9c79-2e3a231a7a19.png)

The console seems to do the trick.

[2017-03-02 19:45] egeozin commented on #106
From Dennis' email: "So lets say someone selects a range of income values from the histogram. If the range is from an income of $0 - $50,000, all of the cells that have the value 0 should not be included. This is because the cells with 0 value don't have anyone living in them so there is no actual income associated with them."

This is simple, I will implemrnt this.

[2017-03-02 20:27] Kallirroi opened #130 "SELECTED CELL VIEW: Top Insta topics (waiting for data?)"

[2017-03-02 20:28] cosmicespresso commented on #87
It works with the other .csv file. I emailed Dennis about it. The OBI percent does not work with that .csv file though. I think the two need to be merged.

![image](https://cloud.githubusercontent.com/assets/10440556/23525549/d98f50fc-ff5c-11e6-8dba-49ac87ac9f92.png)

[2017-03-02 20:50] egeozin commented on #130
Yep! You can try with denver and san jose, they are complete.

[2017-03-02 20:57] Kallirroi opened #131 "Top 3 business types - help"
I think I need some help for properly updating the "Top 3 business types" once a cell is selected.
Take a look at lines 1087 of grid_map.js - I think you will know how to fix it.

[2017-03-02 23:35] egeozin commented on #131
Fixed in 8815467

[2017-03-02 23:35] #131 closed

[2017-03-02 23:35] #115 closed

[2017-03-03 00:24] cosmicespresso commented on #130
![image](https://cloud.githubusercontent.com/assets/10440556/23533136/ae2ddd7c-ff7d-11e6-9559-f84c13b286a6.png)

Works! Thanks for the utility function 😄
The only issue is that it is often empty - should we replace it with a string that says "none recorded" or something?

[2017-03-03 00:58] egeozin commented on #130
Sure, will fix it in 10

[2017-03-03 01:18] #130 closed

[2017-03-03 02:30] egeozin opened #133 "Which LA file should I take into account?"
I see there are changes in the names of LA csv's.

[2017-03-03 02:35] #133 closed

[2017-03-03 02:36] cosmicespresso commented on #133
Use `LA_grid.csv`, its the one with the Insta data

[2017-03-03 02:36] egeozin opened #134 "After the merge, my local copy is not able to display anything"
Having this error in the console: Uncaught TypeError: Cannot read property 'resize' of undefined

[2017-03-03 02:39] egeozin commented on #134
A mapbox error

[2017-03-03 02:48] egeozin commented on #134
Never disable hardware acceleration on chrome and try mapbox

[2017-03-03 02:48] #134 closed

[2017-03-03 03:39] egeozin commented on #106
Fixed: a7b03c2

[2017-03-03 03:39] #106 closed

[2017-03-03 04:01] cosmicespresso commented on #109
Unfortunately, its impossible to have everything interact with everything at the same time. We need to lock either the brush on the ligAve when the OBI is ON, or vice versa. I can explain more later. Also tried to implement a dc.js time filter, but that too fails because the data is formatted in an unfriendly way (its a question of the data matrix and the `ndx` object).

[2017-03-03 04:31] egeozin commented on #109
You know what, I think we can prevent brushes on other charts when OBI is selected as you suggested. Also, we could write an instruction that when OBI is present the other charts will not be filterable.

[2017-03-03 04:45] egeozin commented on #95
Fixed in c7a9e87

[2017-03-03 04:45] #95 closed

[2017-03-03 04:47] egeozin commented on #104
Do you think it's better to  put " + " near the title(when collapsed) and " - " (when open)?

Or up and down arrows ?

[2017-03-03 05:07] cosmicespresso commented on #104
Yeah I think arrows are better! We can use the same icon and then rotate it via CSS.

[2017-03-03 16:35] hgunc commented on #109
<img width="308" alt="screen shot 2017-03-03 at 11 33 25 am" src="https://cloud.githubusercontent.com/assets/24460295/23559586/7adbdd92-0005-11e7-8272-3d7074474416.png">

[2017-03-03 16:37] hgunc commented on #109
am pm looks little weird on my screen
also  if we want to use am pm we need to convert 14 pm to 2pm.

if this is hard lets just go ahead and put ":00" to all
9 am - 10 am should then read  9:00 - 10:00

[2017-03-03 18:44] egeozin commented on #122
Fixed in f3b174d

[2017-03-03 18:44] #122 closed

[2017-03-03 21:36] cosmicespresso commented on #109
Updated list of tasks

- [ ] disable the value on the light intensity when OBI is showing

- [x] put ":00" to hour indication

- [x] shorten the title so that the 'x' can fit

[2017-03-03 21:50] egeozin opened #135 "Misalignment of the charts in the right panel"
<img width="365" alt="slight_misalignment" src="https://cloud.githubusercontent.com/assets/14356218/23570268/76952d8e-0031-11e7-8ee0-a5d3756da2fd.png">

[2017-03-03 22:17] egeozin commented on #121
Fixed in eac4309

[2017-03-03 22:17] #121 closed

[2017-03-03 22:34] egeozin opened #136 "Hide the topics and types chart from the charts panel when a cell is selected"

[2017-03-03 22:36] hgunc opened #137 "Denver Vision Results"
Rename Family - People

[2017-03-03 22:38] hgunc opened #138 "Tabs on the right panel"
Rename - Regional & Cell View

Also tabs mix up when browser resized
<img width="355" alt="screen shot 2017-03-03 at 5 37 57 pm" src="https://cloud.githubusercontent.com/assets/24460295/23571616/46091dea-0038-11e7-93c9-57d594c328d8.png">
<img width="373" alt="screen shot 2017-03-03 at 5 37 48 pm" src="https://cloud.githubusercontent.com/assets/24460295/23571615/460595b2-0038-11e7-8a5f-341481bd229b

[2017-03-03 23:05] hgunc opened #139 "San Jose Vision Results"
Rename animal - people

[2017-03-04 04:10] cosmicespresso commented on #135
I did this because when we have two decimals and HIGH, it would overlap with the name of the y-axis. I can switch it back!

[2017-03-04 16:55] egeozin commented on #87
Fixed with dataset update in 2987503

[2017-03-04 16:55] #87 closed

[2017-03-04 16:57] egeozin commented on #135
We can get rid of the decimals, because for other updated on night time intensity average we are already using either Math.round() or toFixed().

[2017-03-04 17:56] cosmicespresso commented on #135
Sounds good, will take care of it.

[2017-03-05 00:23] #139 closed

[2017-03-05 00:23] #137 closed

[2017-03-05 00:52] egeozin opened #140 "Brush update."
@Kallirroi  if you have time, an extra hand/mind would help me a lot. I have a question for you in the end.

So our probably last major challenge,

[1] When a brush is selected in any of the dc charts,
[2] and a particular business type or instagram topic is repetitively selected and deselected a couple of times (try 4 or 5),

selecting and deselecting 3 times:
<img width="370" alt="screen shot 20

[2017-03-05 01:28] hgunc commented on #108
@egeozin

Here is the code that Thuy sent:
https://www.dropbox.com/sh/dskapnmq0h3haqd/AABX1nBjY9-FAQMBPQxyv2W-a?dl=0

We want to add a simple "Case Studies" dropdown next to about tab on the top. Let's add this as "Light Use in Different Income Groups"

We also need to add ATLAS tab that should take us to Chicago MSA

<img width="377" alt="screen shot 2017-03-04 at 8 26 52 pm" src="https://cloud.g

[2017-03-05 06:17] egeozin commented on #140
I've fixed this. Will push an update in the morning.

[2017-03-05 15:38] cosmicespresso commented on #140
ah good bc I have been looking at it for the past half hour trying to understand the problem! 😌

[2017-03-05 16:07] hgunc opened #141 "Cross Filtering"
When you filter lighting intensity, business types or vision api results do not adapt accordingly.

Also Instagram Density Average five >0 value/ Why is that?

<img width="308" alt="screen shot 2017-03-05 at 11 06 54 am" src="https://cloud.githubusercontent.com/assets/24460295/23589008/eedaefc8-0193-11e7-8377-890fcc627050.png">
<img width="308" alt="screen shot 2017-03-05 at 11 06 39 am" src="http

[2017-03-05 16:32] #138 closed

[2017-03-05 17:13] cosmicespresso commented on #141
Yes the word clouds should be responsive.
Not sure what you mean by "Also Instagram Density Average five >0 value" ?

[2017-03-05 17:19] hgunc commented on #141
The first image, when there a region is selected for lighting intensity, we see there are cells with variant amounts of posts but the average is showing ">0"

Shouldn't it be a value instead?

[2017-03-05 17:31] egeozin commented on #141
Average is close to 0 but I can try to get rid of 0 elements on that chart

[2017-03-05 17:50] egeozin opened #146 "Cross Filtering"
When you filter lighting intensity, business types or vision api results do not adapt accordingly.

<img width="308" alt="screen shot 2017-03-05 at 11 06 54 am" src="https://cloud.githubusercontent.com/assets/24460295/23589008/eedaefc8-0193-11e7-8377-890fcc627050.png">
<img width="308" alt="screen shot 2017-03-05 at 11 06 39 am" src="https://cloud.githubusercontent.com/assets/24460295/23589009/eed

[2017-03-05 17:53] cosmicespresso commented on #109
@hgunc I need some input regarding the OBI chart - if we take out the digits and just keep the word (HIGH/MEDIUM etc) then it is always HIGH when we are using the time filter (see below).

![image](https://cloud.githubusercontent.com/assets/10440556/23589828/c477e394-01a2-11e7-84c9-73bf0f80306d.png)

I think that the quickest fix is to not show the light average chart at all when OBI is on.

[2017-03-05 17:56] cosmicespresso commented on #108
Who is taking care of implementing this? @thuytle @hgunc @egeozin

[2017-03-05 17:57] egeozin commented on #141
Ins Density fixed in c75e9c4 . I opened an another issue regarding cross filtering.

[2017-03-05 17:57] #141 closed

[2017-03-05 17:59] egeozin commented on #140
Discrepancy fixed in c75e9c4, but after deselecting the final tag in busTypes/instaTopics chart, brush is still there but without filtering the cells on the map.

You have to move the brush to start refiltering correctly.

@Kallirroi , do you know how to remove the brush at any time on dc charts. That might be useful in this context

[2017-03-05 18:00] cosmicespresso commented on #140
maybe this can help? https://github.com/dc-js/dc.js/issues/151

[2017-03-05 18:01] egeozin commented on #108
@Kallirroi  If you have time, can you look into this ?

[2017-03-05 18:02] egeozin commented on #108
Thuy sent me the html and css files.

[2017-03-05 18:12] egeozin commented on #146
By the way, we didn't have this functionality before(we should have), the order, number and sizes were changing when a cell is selected.  @hgunc

I'm now implementing this, but I feel like this can be more tricky than it sounds, hope everything turns out ok.

[2017-03-05 18:13] cosmicespresso commented on #108
@hgunc @egeozin I will take care of this but the OBI chart needs some feedback from you and Sarah (see my post in the other thread).
@egeozin where are the files?

[2017-03-05 18:14] egeozin commented on #108
I will send them in 5.

[2017-03-05 18:23] egeozin opened #147 "Turn back to the regional view when a cell is deselected on zoom or cell click"

[2017-03-05 18:27] egeozin commented on #108
Sent.

[2017-03-05 18:37] cosmicespresso commented on #108
Todos:

- [x] add a simple "Case Studies" dropdown next to about tab on the top. Let's add this as "Light Use in Different Income Groups"

- [x] integrate Thuy's work

- [x] add ATLAS tab that should take us to Chicago MSA

[2017-03-05 20:15] egeozin commented on #146
I've implemented this.

@hgunc Can you try this functionality? We have to think about whether to include this functionality, because this might considerably reduce the performance.

Other option is to keep it as before. (This has no harm, we might include a description).

[2017-03-05 20:18] egeozin commented on #140
@Kallirroi , that didn't help, but if we can solve this the big problem will end.

[2017-03-05 21:55] cosmicespresso commented on #140
I will work on implementing the Case Studies and will return to this and OBI later.

[2017-03-05 22:40] cosmicespresso commented on #108
@hgunc @egeozin can you test drive this? I just pushed it.

[2017-03-05 23:50] cosmicespresso commented on #146
I don't think the performance has suffered (?)

[2017-03-05 23:55] egeozin commented on #140
To be more specific:

1. I tried saving **the pre-filterCells-function/tag-selection** filters from each dc chart before **starting** updating the ndx with( ndx.remove()). Then re-uploading them to the dc charts that had filter before the filterCells just before ndx.add(newData) as suggested in here:

https://github.com/dc-js/dc.js/blob/master/web/examples/replacing-data.html

But, unfortunately,

[2017-03-06 02:10] egeozin commented on #108
"Cannot GET /case.html" error on blank page when the case study is clicked  (route is : **http://localhost:8080/case.html**)

[UPDATE] After rebuilding, I get the same error

[UPDATE] Now updated Dockerfile, trying again...

[2017-03-06 02:24] egeozin commented on #108
It worked after updating Dockerfile. Now rebuilding in google compute...

(Fixed in 6c4469c)

Apart from navbar fonts(Different from the one we use), everything looks cool.

[2017-03-06 02:26] egeozin commented on #108
@Kallirroi  How did you manage to see it without updating Dockerfile?

@hgunc  You can check the website.

[2017-03-06 02:51] #146 closed

[2017-03-06 03:08] cosmicespresso commented on #108
Good catch, 	069d1bc takes care of the typeface change.

Not sure I like the fact that the image is taller than the viewport (and that you have to scroll to see the slideshow buttons, at least for my screen).

Hayro?

[2017-03-06 03:18] cosmicespresso commented on #108
UPDATE: Thuy was not sourcing Bootstrap.css, fixed it and now it looks better but maybe too small:
![image](https://cloud.githubusercontent.com/assets/10440556/23595645/9e593de4-01f1-11e7-8ab8-84c4b8fbb9b7.png)

[2017-03-06 16:19] hgunc commented on #140
@egeozin @Kallirroi we need to solve this before the meeting guys. As of right now, dev.intensity and population density charts are not working properly. NaN issue for dev intensity and the average displaying something diferent from the selected range pop density
<img width="301" alt="screen shot 2017-03-06 at 11 17 55 am" src="https://cloud.githubusercontent.com/assets/24460295/23618548/a0e23148-

[2017-03-06 16:26] hgunc commented on #140
Pop density is correct! sorry guys!

[2017-03-06 16:34] egeozin commented on #140
Dev Intensity fixed in 4ab7135

[2017-03-06 17:16] egeozin commented on #135
@Kallirroi they still look a bit on the left side, I recall that the left edge of the charts were closer to the right side, I was calculating the quantile lines according to chartMargins, and there is still mismatch on quantile lines.

[2017-03-06 18:50] egeozin commented on #140
One more idea on this (that is most likely to work):

Keep the old configuration, make brushes look weird when brushed and tag selected but find a way to bind originalData to charts dimension when deselecting all tags.

[2017-03-07 00:35] egeozin commented on #140
Fixed in e55e0a5

[2017-03-07 00:35] #140 closed

[2017-03-07 03:18] #108 closed

[2017-03-07 03:52] hgunc commented on #108
@egeozin
Can you replace 3 images with the corresponding images?
7_2.png
9_2.png
10_2.png
https://www.dropbox.com/sh/yrl1tr48spjs8qz/AACAFthI6PLRrG3Kg9tH7GZda?dl=0

[2017-03-07 04:46] egeozin commented on #136
Fixed in b5ebe2f

[2017-03-07 04:46] #136 closed

[2017-03-07 04:47] egeozin opened #152 "Streetview shows the same image when no streetview is present in the current cell"

[2017-03-07 04:47] egeozin commented on #152
Fixed in b5ebe2f

[2017-03-07 04:47] #152 closed

[2017-03-07 04:47] egeozin opened #153 "BusDiv no reset"

[2017-03-07 04:47] egeozin commented on #153
Fixed in b5ebe2f

[2017-03-07 04:47] #153 closed

[2017-03-07 04:53] egeozin commented on #108
Updated

[2017-03-07 15:45] cosmicespresso commented on #135
This looks right to me no?

![image](https://cloud.githubusercontent.com/assets/10440556/23664129/b14aa384-0322-11e7-9eea-9da192287eb1.png)

I had changed the width of this:
![image](https://cloud.githubusercontent.com/assets/10440556/23664154/c537ec1c-0322-11e7-8c26-146f65f6533d.png)

in order for the `Cell View` to fit properly and avoid vertical scrolling. This resulted in some empty space on t

[2017-03-07 15:52] #147 closed

[2017-03-07 16:22] #104 closed

[2017-03-07 16:23] Kallirroi opened #156 "improve GitHub repo information (README etc)"

[2017-03-07 19:02] egeozin commented on #156
@hgunc any ideas on how to present the project in the github page?

We can add introductory, descriptive parts from the report that you've prepared.

And then we can add how to build/run it. (Preferably less verbose than the current version)

[2017-03-07 19:57] egeozin commented on #135
Fixed in a7eeeab.

[2017-03-07 19:57] #135 closed

[2017-03-07 21:54] #113 closed

[2017-03-07 21:55] cosmicespresso commented on #156
I think we should just skip the entire "how to build and run" part.... 😇

[2017-03-08 03:23] hgunc opened #157 "About Page Cosmetics"
ok guys few text edits for about page. This text can be larger font size, maybe full size of the screen.

Today’s digital revolution has radically changed the way we process the volume of information that cities produce every day. Especially with the emergence of digital data and ubiquitous use of mobile social network services, new opportunities arise for researchers to develop tools grounded in

[2017-03-08 03:26] hgunc opened #158 "Dataset Descriptions"
Here is the most updated descriptions for each dataset. Would be great if we have source for all, will need to change the styling

Business Density
Source: Google Places API
Year: 2016
Indicates total number of Google Places in a grid cell, which includes businesses, institutions, parks, and other points of interest.

Business Type
Source: Google Places API
Year: 2016
Indicates the types of the lo

[2017-03-08 03:29] hgunc commented on #158
Suggestion:

Source replaces the blue placeholder

![screen shot 2017-03-07 at 10 26 40 pm](https://cloud.githubusercontent.com/assets/24460295/23688952/8b431e1a-0385-11e7-9719-ed239b696d9a.jpg)

[2017-03-08 03:39] hgunc commented on #157
First title will be "About" instead of Team

![screen shot 2017-03-07 at 10 32 35 pm](https://cloud.githubusercontent.com/assets/24460295/23689177/ef9f32c6-0386-11e7-9292-28cf825fab98.jpg)

[2017-03-08 03:41] hgunc commented on #157
Let's replace Data section with this:

Business Density
Source: Google Places API
Year: 2016
Indicates total number of Google Places in a grid cell, which includes businesses, institutions, parks, and other points of interest.

Business Type
Source: Google Places API
Year: 2016
Indicates the types of the local businesses in a grid cell, using Google Places classifications.

Business Type Diversity

[2017-03-08 03:42] hgunc commented on #109
@Kallirroi I will look into this first thing tomorrow. Don't think that we forgot about it! this is a very important piece of the tool

[2017-03-08 04:39] cosmicespresso commented on #158
@hgunc thats too much text and line breaks for this amount of space. Alternative?

[2017-03-08 04:42] thuytle commented on #157
<img width="1436" alt="screen shot 2017-03-07 at 11 40 41 pm" src="https://cloud.githubusercontent.com/assets/1759051/23690445/b5c77d52-038f-11e7-8da8-ad5143fe5faf.png">

the Data section ends up becoming really long, is that a problem?

[2017-03-08 04:43] hgunc commented on #158
@Kallirroi just the description then.

all the other info can go in to about page

[2017-03-08 04:46] hgunc commented on #157
I think we should make the line heights of team members less.

So team section should occupy half of the page, data should compose the other. For data, maybe a bounding box and the user  should be able to scroll inside it.

[2017-03-08 05:19] cosmicespresso commented on #158
I fit the description and the source, see below:
![image](https://cloud.githubusercontent.com/assets/10440556/23691178/db3b160c-0394-11e7-9426-0b3eed05d519.png)

[2017-03-08 15:31] hgunc opened #160 "Comparison Case Study"
@thuytle

I need you to create a case study page with the plot chart and the map.

![crosscity](https://cloud.githubusercontent.com/assets/24460295/23710319/4ea9c2dc-03ea-11e7-9b2b-9a27e7b59f16.jpg)

[2017-03-08 15:33] hgunc commented on #160
Do you think you can do this by 6 pm today? Please make sure that we are not creating extra bugs, if you think it is complicated just don't do it. No slider or anything. Simple page with the interactive chart.

@egeozin we need to add a dropdown menu to case study. it should be renamed "Case Studies" and add two pages underneath. 1- Cross Metro Comparison 2- Light Use in Different Income Groups

[2017-03-08 15:36] cosmicespresso commented on #160
Sorry to jump in, but I think thats too late, as it will certainly generate bugs which we have no time to fix. This should have been addressed earlier - I thought that we had dropped Case Study 2 for good.

[2017-03-08 15:38] hgunc commented on #160
This was already built and working, what do you think will create a problem?

[2017-03-08 15:43] cosmicespresso commented on #160
Because the 2D bubble chart was not working properly.
How about this: @thuytle give it a shot and let me know if you need help, I can work on stuff until 8pm today. You might have to check the `script` tags to make sure that they are included, since maybe they are now removed from the `grid.html` file.

[2017-03-08 15:45] hgunc commented on #160
Ok @thuytle  give it a shot and communicate with Kalli and Ege please

[2017-03-08 16:17] #157 closed

[2017-03-08 16:30] #158 closed

[2017-03-08 17:00] sw2279 commented on #160
Unless it's a slide show it's going to create tons of bugs. The only option for inclusion is to add a case studies than insert two slide shows. Not sure if we can do that.

Sent from my iPhone

[2017-03-08 19:59] hgunc opened #161 "Business Diversity"
Should display how many cells are selected for each category. Right now it displays, 1,2,3,4
<img width="295" alt="screen shot 2017-03-08 at 2 58 18 pm" src="https://cloud.githubusercontent.com/assets/24460295/23721451/cc8897c6-040f-11e7-87cf-e4961a08e908.png">

[2017-03-08 20:11] egeozin commented on #161
But this is contrary to all other charts, right?

Because all other chaets display median of the data.

And specifically for diversity charts is point of interest is the diversity metric.right?

So I want to make sure that this.is thr only the.case that we show thr number of selected cells?

On Wed, Mar 8, 2017 at 2:59 PM -0500, "hgunc" <notifications@github.com<mailto:notifications@github.com>> w

[2017-03-08 20:45] thuytle commented on #160
@Kallirroi Kalli, what on the bubble chart wasn't working for you? I'm working on the one on index.html -- seems to work fine

[2017-03-08 20:56] hgunc commented on #160
@sw2279 says it is going to create bugs. So if you could work on it independent from the online version please do it. But please don't change anything with what we have on the website now.

[2017-03-08 21:04] cosmicespresso commented on #160
Try it out as a standalone page and when you are sure the console is clean of any errors then connect it to the rest

Kalli

Envoyé de mon iPhone

[2017-03-08 21:36] egeozin commented on #161
fixed in 0720d19

[2017-03-08 21:36] #161 closed

[2017-03-08 21:39] thuytle commented on #160
it's working in index.html as shown. I haven't put links to it anywhere yet

<img width="1440" alt="screen shot 2017-03-08 at 4 37 19 pm" src="https://cloud.githubusercontent.com/assets/1759051/23725225/b94c9e74-041d-11e7-86b5-d3ca9893f630.png">

[2017-03-08 22:00] #109 closed

[2017-03-08 22:01] cosmicespresso commented on #160
does the 2D chart also work? If yes, I can take it from here.

[2017-03-08 22:07] cosmicespresso commented on #160
Also, @thuytle:

1. the page you are building should be in a file other than index.html. Don't touch the index.html that already existed, rather do what you did for the slideshow implementation (make a new .html file).

2. the 2D axis should have dropdowns where the user can select different variables for both x and y axis (this was the idea @hgunc right?). I think this is the part that was not wo

[2017-03-08 23:54] thuytle commented on #160
@Kallirroi
1. Hey sorry didn't know that's what you guys wanted since when I looked at the index.html today it wasn't working properly. I fixed up the tags and I commented out stuff that we don't need and changed the css but didn't delete anything.

2. I commented out the dropdowns as I thought that's what Hayro meant by "No slider or anything."

[2017-03-08 23:57] thuytle commented on #160
@hgunc could you send me the use cases of this case study that we do want to show and how we want to show them? I'm a bit confused so I'll wait for that before I resume working on this so I don't create any problems

[2017-03-15 02:15] #160 closed